@import "mocha.css";
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    border-radius: 10px;
    background: rgba(30, 30, 46, 0.75);
    color: #cdd6f4;
}

tooltip {
    background: @base;
    border-radius: 10px;
}

#workspaces button {
    padding: 5px;
    color: @surface1;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #010409;
}

#workspaces button.urgent {
    color: #11111b;
    background: #010409;
}

#workspaces button:hover {
    background: #010409;
    color: #cdd6f4;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    margin-right: 15px;
}

/*close to the right */
#bluetooth {
    margin-right: 10px;
}

#temperature.critical {
    color: @pink;
}

#tray {
    margin-right: 10px;
}

#workspaces {
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    margin-left: 10px;
    color: @peach;
}

#network {
    color: @yellow;
}

#bluetooth {
    color: #89b4fa;
    margin-right: 10px;
}

#pulseaudio {
    color: #89b4fa;
}

#pulseaudio.microphone {
    color: #cba6f7;
    margin-right: 10px;
}

#battery {
    color: #a6e3a1;
    margin-right: 10px;
}

#memory {
    color: @yellow;
    margin-right: 10px;
}

#cpu {
    color: @yellow;
    margin-right: 10px;
}

#disk {
    color: @yellow;
    margin-right: 10px;
}
